# MQTT Configuration
MQTT_HOST=
MQTT_PORT=

# RTSP Configuration (from constants.js)
RTSP_URL=

# Recordings
MAX_RECORDINGS_FOLDER_SIZE_IN_GB=2
RECORDING_BASE_DIR=/data/data/com.termux/files/home/storage/documents
RECORDING_SEGMENT_DURATION_IN_SECONDS=10
RECORDING_FORMAT=mp4

# Email Configuration (from constants.js)
EMAIL=

# Google Drive Configuration (from drive-config.js)
GOOGLE_APPLICATION_CREDENTIALS=credentials.json